{% load static %}

<!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-mosque"></i>Poshshopirim</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link">Bosh sahifa</a>
                    <a href="{% url 'workers_view' %}" class="nav-item nav-link">Xodimlar</a>                   
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Aloqa</a>
                    {% if request.user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="nav-item nav-link">Boshqaruv oynasi</a>
                    {% endif %}

                </div>
                {% comment %} <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton> {% endcomment %}
                {% comment %} <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a> {% endcomment %}
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Poshshopirim MFY</h1>
                    {% comment %} <a href="" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i> {% endcomment %}
                    {% comment %} <a href="{% url 'contact' %}" class="h5 text-white">Murojat Qilish</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->