{% extends 'helper/base.html' %}
{% load static %}

{% block body %}
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    {% include 'helper/navbar.html' %}
    <!-- Navbar End -->


    {% comment %} <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End --> {% endcomment %}


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Blog list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        {% for post in posts %}
                            <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                                <div class="blog-item bg-light rounded overflow-hidden">
                                    <div class="blog-img position-relative overflow-hidden">
                                        <img class="img-fluid" src="{{ post.image.url }}" alt="">
                                        {% comment %} <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a> {% endcomment %}
                                    </div>
                                    <div class="p-4">
                                        <div class="d-flex mb-3">
                                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{ post.author }}</small>
                                            <small><i class="far fa-calendar-alt text-primary me-2"></i>{{ post.published_at | date }}</small>
                                            <small><i class="fas fa-eye text-primary me-2"></i>{{ post.get_number_of_views}}</small>
                                        </div>
                                        <h4 class="mb-3">{{ post.title }}</h4>
                                        
                                        {% comment %} <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p> {% endcomment %}
                                        <a class="text-uppercase" href="{% url 'post_detail' pk=post.id %}">Batafsil o'qish <i class="bi bi-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Blog list End -->
    
                <!-- Sidebar Start -->
                {% include 'helper/sidebar.html' %}
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->


    <!-- Vendor Start -->
    <!-- Vendor End -->
    

</body>
{% endblock body %}