{% extends 'helper/base.html' %}
{% load static %}

{% block body %}
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {% include 'helper/navbar.html' %}
    <!-- Navbar End -->


    {% comment %} <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End --> {% endcomment %}


    <!-- Contact Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Biz bilan Bog'lanish</h5>
                <h1 class="mb-0">Agar sizsa qandaydur savol bo'lsa biz bilan bog'laning</h1>
            </div>
            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                        {% comment %} <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div> {% endcomment %}
                        <div class="ps-4">
                            <h5 class="mb-2">Aloqa raqamimiz</h5>
                            <h4 class="text-primary mb-0">+72 548 789 45</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                        {% comment %} <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div> {% endcomment %}
                        <div class="ps-4">
                            <h5 class="mb-2">Email orqali bog'lanish uchun</h5>
                            <h4 class="text-primary mb-0">poshshopirim.mfy@gmail.com</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                        {% comment %} <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div> {% endcomment %}
                        <div class="ps-4">
                            <h5 class="mb-2">Manzilimiz</h5>
                            <h4 class="text-primary mb-0">Buvayda tumani, Poshshopirim qishlog'i 40-uy</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                {% comment %} message in here {% endcomment %}

                {% for msg in contact_messages %}
                    {{msg}}
                {% endfor %}
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control border-0 bg-light px-4" name="first_name" placeholder="Ismingiz" style="height: 55px;">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control border-0 bg-light px-4" name="last_name" placeholder="Familyangiz" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0 bg-light px-4" name="phone" placeholder="Telefon raqamingiz" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0 bg-light px-4" name="address" placeholder="Manzilingiz (Masalan: Fayziobod qishlog'i, Bog'ibo'ston ko'chasi, 40-uy)" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" name="message" placeholder="Habar"></textarea>
                            </div>
                            <div class="col-12">
                                
                                <!-- Button trigger modal -->
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Habarni yuborish
                                </button>
                            </div>
                        </div>
                        {% comment %} <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=Poshshopirim%20MFY&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no" style="width: 600px; height: 400px;"></iframe><style>.mapouter{position:relative;text-align:right;height:400px;width:600px;}</style><style>.gmap_canvas{overflow:hidden;background:none!important;height:400px;width:600px;}</style><a href="https://www.eireportingonline.com">ei reporting online</a></div></div> {% endcomment %}
                         {% comment %} <!-- Vendor Start -->
                        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container py-5 mb-5">
                                <div class="bg-white">
                                    <div class="owl-carousel vendor-carousel">
                                        <img src="img/vendor-1.jpg" alt="">
                                        <img src="img/vendor-2.jpg" alt="">
                                        <img src="img/vendor-3.jpg" alt="">
                                        <img src="img/vendor-4.jpg" alt="">
                                        <img src="img/vendor-5.jpg" alt="">
                                        <img src="img/vendor-6.jpg" alt="">
                                        <img src="img/vendor-7.jpg" alt="">
                                        <img src="img/vendor-8.jpg" alt="">
                                        <img src="img/vendor-9.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Vendor End --> {% endcomment %}
                    </form>
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                    <iframe class="position-relative rounded w-100 h-100"
                        src="https://maps.google.com/maps?q=Poshshopirim%20MFY&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no" style="width: 600px; height: 400px;"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>

                {% comment %} <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=Poshshopirim%20MFY&amp;t=k&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no" style="width: 1060px; height: 400px;"></iframe><style>.mapouter{position:relative;text-align:right;height:400px;width:1060px;}</style><style>.gmap_canvas{overflow:hidden;background:none!important;height:400px;width:1060px;}</style><a href="https://www.eireportingonline.com">ei reporting</a></div></div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Contact End -->

  
  <!-- Modal -->
  {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

   
        
</body> 
{% endblock body %}