{% extends 'helper/base.html' %}
{% load static %}

{% block body %}
    <!-- Navbar Start -->
    {% include 'helper/navbar.html' %}
    <!-- Navbar End -->
    <div class="row g-5 mb-5">
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-phone-alt text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Call to ask any question</h5>
                    <h4 class="text-primary mb-0">+012 345 6789</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope-open text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Email to get free quote</h5>
                    <h4 class="text-primary mb-0">info@example.com</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-map-marker-alt text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Visit our office</h5>
                    <h4 class="text-primary mb-0">123 Street, NY, USA</h4>
                </div>
            </div>
        </div>

        {% comment %}  {% endcomment %}
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-phone-alt text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Call to ask any question</h5>
                    <h4 class="text-primary mb-0">+012 345 6789</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope-open text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Email to get free quote</h5>
                    <h4 class="text-primary mb-0">info@example.com</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-map-marker-alt text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Visit our office</h5>
                    <h4 class="text-primary mb-0">123 Street, NY, USA</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}